a {
    text-decoration: none;
}

ul, p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.header-list {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.header-item {
    list-style: none;
}

.header-item:not(:last-child) {
    margin-right: 20px;
}

.header-link {
    color: #fff;
}

.header-link:hover {
    color: aqua;
}

.errorlist > li {
    list-style: none;
    margin-bottom: 0;
    color: red;
}

.profile-header,
.description,
.main-header,
.empty {
    text-align: center;
}

.tag-list {
    list-style: none;
    padding: 10px;
}

.tag-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.tag-item:not(:last-child) {
    margin-bottom: .5em;
}

.empty {
    color: darkgray;
}

.del-btn {
    padding-left: 14px;
    padding-right: 14px;
}
